h1 {
  color: red;
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
}

.container {
  display: grid;
  justify-content: center;
  margin: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 10px 10px 10px 10px;
  font-family: 'Major Mono Display', monospace;

}

#userInput {
  font-family: 'Major Mono Display', monospace;
}

.delete {
  display: none;
}
