h1 {
  color: grey;
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
  text-align: center;
}

.container {
  display: grid;
  justify-content: center;
  margin: 200px;
  padding: 100px 100px 100px 100px;
  font-family: 'Major Mono Display', monospace;
}

#userInput {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}



.delete {
  display: none;
}

button {
  font-family: inherit;
  color: white;
}

li>button {
  background: white;
  text-align: left;
  color: grey;
  font-family: inherit;
  border: 0;

}
